<div>
    <form class="form-horizontal" role="form" ng-submit="delete()">
        <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Delete this event?</label>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" ng-click="delete()" class="btn btn-default btn-primary">
                	Delete
                </button>
                <button type="button" ng-click="cancel()" class="btn btn-default">
                	Cancel
                </button>
            </div>
        </div>
    </form>
</div>