<div>
    <form class="form-horizontal" role="form" name="eventForm" ng-submit="save()">
        <div class="form-group" ng-if="event._id"> 
            <label  class="col-sm-2 control-label"><u>Edit event</u></label>
        </div>
        <div class="form-group" ng-if="!event._id"> 
            <label  class="col-sm-2 control-label"><u>Create event</u></label>
        </div>     
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="Title"  ng-model="event.title" required />
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                 <span class="text-danger" ng-show="eventForm.title.$error.required">
                Title Required!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDesc" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="body" name="body" placeholder="Description" ng-model="event.body" required></textarea>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                 <span class="text-danger" ng-show="eventForm.body.$error.required">
                Description Required!</span>
            </div>
        </div>
        <div class="col-sm-10" ng-if="event._id"> 
            <div class=" control-label">Event date: {{event.start | date:'medium'}}</div>
            <div class=" control-label">Event created: {{event.created | date:'medium'}}</div>
            <div class=" control-label">Event updated: {{event.updated | date:'medium'}}</div>
        </div>
        
        <div class="fcol-sm-10">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-disabled="!eventForm.body.$valid || !eventForm.title.$valid" ng-show="event._id" type="button" ng-click="update(event)" class="btn btn-default btn-primary">Update</button>
                <button ng-disabled="!eventForm.body.$valid || !eventForm.title.$valid" ng-show="!event._id" type="button" ng-click="save(event)" class="btn btn-default btn-primary">Create</button>
                <button  type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
                <button ng-show="event._id" type="button" ng-click="delete(event)" class="btn btn-default btn-primary btn-danger">Delete</button>
                
            </div>
        </div>
    </form>
</div>